@import "tailwindcss";

:root {
  --background: #0E0F0E;
  --foreground: #ffffff;

  /* Green accent color */
  --brand-primary: #B3FF94;
  --brand-secondary: #DDE4C3;

  --default: #0E0F0E;
  --white: #ffffff;
  --dark-gray: #3E3F3E;

  /* Radial Gradient for card background */
  --background-gradient: radial-gradient(
    ellipse 120% 80% at 50% 100%,
    #193018 0%,
    #1A1A1A 60%,
    #1A1A1A 100%
  );
}

@theme inline {
  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-primary: var(--brand-primary);
  --color-brand-secondary: var(--brand-secondary);
  --color-default: var(--default);
  --color-white: var(--white);
  --color-dark-gray: var(--dark-gray);

  /* Fonts */
  --font-body: var(--font-pp-neue-montreal); /* Default text */
  --font-display: var(--font-pp-neue-machina); /* Header text */
  --font-mono: var(--font-pp-neue-montreal);
}

body {
  background: var(--background);
  color: var(--default);
  font-family: var(--font-pp-neue-montreal), Arial, Helvetica, sans-serif;
  font-size: 15px;
}

h2, h3 {
  color: var(--white);
  font-weight: 600;
}