@import "tailwindcss";

:root {
  --background: #0E0F0E;
  --foreground: #ffffff;

  /* Green accent color */
  --brand-primary: #B3FF94;

  /* Radial Gradient for card background */
  --background-gradient: radial-gradient(
    ellipse 120% 80% at 50% 100%,
    #193018 0%,
    #1A1A1A 60%,
    #1A1A1A 100%
  );
}

@theme inline {
  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-primary: var(--brand-primary);

  /* Fonts */
  --font-sans: var(--font-pp-neue-montreal); /* Default for body text */
  --font-display: var(--font-pp-neue-machina); /* For headers */
  --font-mono: var(--font-pp-neue-montreal);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0E0F0E;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-pp-neue-montreal), Arial, Helvetica, sans-serif;
}
