@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;

  /* Green accent color */
  --brand-primary: #B3FF94;
}

@theme inline {
  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-primary: var(--brand-primary);

  /* Fonts */
  --font-sans: var(--font-pp-neue-montreal); /* Default for body text */
  --font-display: var(--font-pp-neue-machina); /* For headers */
  --font-mono: var(--font-pp-neue-montreal);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-pp-neue-montreal), Arial, Helvetica, sans-serif;
}
